* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
    --text-color: #000339;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins";
}

/* Common */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    border-radius: 8px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
}

.line-clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
}

/* Header */
.header {
    background-color: #e6f0ff;
    height: 100vh;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 3.8rem;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .actions {
    margin-left: auto;
}

.navbar ul a {
    color: #4f5361;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 8px 14px;
}

.action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    line-height: 14px;
}

/* ----- Hero ------ */
.hero {
    margin-top: 130px;
    width: 51%;
}

.hero .subtile {
    color: #687690;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.18px;
}

.hero .title {
    margin-top: 8px;
    color: #000336;
    font-size: 6.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.18; /* 118.75% */
}

.hero .desc {
    margin-top: 30px;
    color: #5a6473;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.77; /* 177.778% */
}

.hero .hero-cta {
    margin-top: 40px;
    min-width: 170px;
}

.hero .hero-image {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* ----- Clients ----- */
.clients {
    margin-top: 79px;
    padding: 43px 0 41px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .desc {
    color: #7d8589;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}

.clients .row-clients-logo {
    margin-top: 70px;
}

/* ----- Guides ----- */
.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .title {
    position: relative;
    color: var(--text-color);
    text-align: center;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.guides .title::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    /* display: inline-block; */
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: var(--text-color);
}

.guides .sub-title {
    margin: 20px auto 0px;
    width: 459px;
    max-width: 100%;
    color: #5a6473;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.guide-list {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 140px;
}

.guide-list .guide-item {
    text-align: center;
}

.guide-list .item-title {
    margin-top: 26px;
    color: #3b3c45;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1; /* 110% */
}

.guide-list .link {
    display: inline-block;
    margin-top: 10px;
    color: #0689ff;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.guide-list .arrow {
    margin-left: 6px;
}

.guides .guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guides .btn {
    min-width: 170px;
}

/* ----- Feature ----- */
.feature {
    margin-top: 40px;
    padding: 110px 0;
    background: #f5fafe;
}

.feature header .title {
    color: var(--text-color);
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.feature .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.feature header .desc {
    color: #5a6473;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.feature .link {
    display: flex;
    align-items: center;
    color: #0689ff;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.feature .link .arrow {
    margin-left: 8px;
}

.feature .list {
    display: flex;
    gap: 30px;
    margin-top: 70px;
}

.feature .item {
    flex: 1;
}

.feature .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.feature .body {
    padding: 17px 0 22px 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background: #fff;
    box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.6);
}

.feature .item .title a {
    color: var(--text-color);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5; /* 100% */
}

.feature .item .desc {
    margin-top: 11px;
}

.feature .item .desc a {
    color: #a3a6ab;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.feature .item .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.feature .item .label {
    margin-left: 8px;
}

.feature .item .icon {
    margin-left: 22px;
}

.feature .item .icon:first-child {
    margin-left: 0;
}

/* ----- Stats ----- */

.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content {
    width: 1048px;
}

.stats .row {
    display: flex;
    align-items: center;
}

.stats .image-block,
.stats .info-block {
    width: 50%;
}

.stats .image-block {
    position: relative;
}

.stats .image-block .stat-img {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}

.stats .info-block {
    padding-left: 165px;
}

.stats .sub-title::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 0;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: var(--text-color);
}

.stats .sub-title {
    position: relative;
    width: 269px;
    color: var(--text-color);
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.3;
}

.stats .info-block .desc {
    width: 309px;
    margin-top: 20px;
    color: #5a6473;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9;
}

/* ----- Stats Trend ----- */

.stats .stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    padding: 45px 22px 40px;
    border-radius: 0px 0px 12px 12px;
    background: #fff;
    box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
}

.stats .stats-trend .value {
    color: var(--text-color);
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.26px;
}

.stats .stats-trend .plus {
    color: var(--text-color);
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.26px;
}

.stats .stats-trend .icon {
    display: block;
    margin-left: auto;
}

.stats .stats-trend .desc {
    color: #a7a7a7;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.stats .stats-trend .separate {
    height: 1.2px;
    margin-top: 25px;
    background: #e9e9e9;
}

.stats .avatar-row,
.stats .avatar-block {
    display: flex;
}

.stats .avatar-row {
    margin-top: 26px;
    gap: 14px;
    flex-wrap: wrap;
}

.stats .avatar-img {
    width: 16px;
    height: 16px;
    margin-left: -3px;
    border-radius: 50%;
    object-fit: cover;
}

.stats .avatar-img:first-child {
    margin-left: 0;
}

.stats .avatar-item {
    width: 16px;
    height: 16px;
    margin-left: -3px;
    border-radius: 50%;
    background-color: #1f3bb1;
}

.stats .letter {
    display: block;
    color: #fff;
    text-align: center;
    font-size: 7.261px;
    font-style: normal;
    font-weight: 450;
    line-height: 16px;
}

.stats .row-count {
    margin-top: 110px;
    display: flex;
    gap: 220px;
    padding: 0 32px;
}

.stats .count-info .heading {
    color: #000;
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}

.stats .count-info .desc {
    margin-top: 24px;
    color: #7b8087;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* ----- Subscription ----- */
.subscription {
    margin-top: 90px;
}

.subscription .row {
    position: relative;
    display: flex;
    align-items: center;
    height: 370px;
    border-radius: 20px;
    background: #063183;
}

.subscription .info {
    width: 680px;
    max-width: 100%;
    padding: 0 90px 0 80px;
}

.subscription .heading {
    color: #fff;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
}

.subscription .desc {
    margin-top: 15px;
    color: #fff;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9;
}

.subscription .btn {
    margin-top: 20px;
    min-width: 151px;
    border-radius: 12px;
    background: #fff;
    color: #002366;
}

.subscription img {
    position: absolute;
    bottom: 0px;
    right: 220px;
}

/* ----- Footer ----- */

.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;
}

.footer .row-top {
    gap: 185px;
}

.footer .heading {
    color: #1c1c1d;
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
}

.footer .list {
    margin-top: 42px;
}

.footer .item {
    margin-top: 18px;
}

.footer .item a {
    color: #7a7a7e;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
}

.footer .info {
    margin-top: 40px;
    color: #7a7a7e;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
}

.footer .icon-row {
    display: flex;
    gap: 16px;
    margin-top: 40px;
}

.footer .icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background: #f9f9f9;
    border-radius: 3px;
}

.footer .icon-link:hover {
    background: #ebebeb;
}

.footer .row-bottom {
    margin-top: 80px;
    align-items: center;
    justify-content: space-between;
}

.footer .copyright {
    color: #c2c2c2;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
